In [2]:
# !pip install pandas-profiling==2.7.1

## General packages
import pandas as pd
import numpy as np
import os
import math
from pandas_profiling import ProfileReport
import matplotlib as mpl
import matplotlib.pyplot as plt
import streamlit as st

In [4]:
#!pip install streamlit

## Load the data

In [4]:
#Importing the datasets for retired and non retired people
df_retired =  pd.read_csv("../retired_people.csv", index_col = False)
df_non_retired = pd.read_csv("../non_retired_people.csv", index_col = False)
#Statistical description database
df_retired.describe()

,PERSONA,AC_TP,ADM_TP,AI_TP,AP_TP,CO_TP,CU_TP,GC_TP,HD_TP,IN_TP,...,PM_RS,PR_RS,RE_RS,SE_RS,SM_RS,SO_RS,TD_RS,EDAD,GENERO,TIEMPO_EMP
count,1126.000000,1126.000000,1126.000000,1126.000000,1126.000000,1126.000000,1126.000000,1126.0,1126.000000,1126.000000,...,1126.000000,1126.0,1126.0,1126.000000,1126.000000,1126.000000,1126.0,1126.000000,1126.000000,1126.000000
mean,1325.170515,0.078153,15.776199,0.002664,2.299290,0.669627,0.001776,0.0,0.000888,0.119893,...,0.024867,0.0,0.0,0.007105,6.198046,0.150089,0.0,30.338366,0.277087,20.012433
std,537.627315,0.443343,36.067266,0.066613,5.099032,2.938042,0.059602,0.0,0.029801,0.630213,...,0.284884,0.0,0.0,0.111328,18.301059,2.910156,0.0,8.473650,0.447759,26.811868
min,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,-1.000000,0.000000,-78.000000
25%,941.250000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,25.000000,0.000000,4.000000
50%,1299.500000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,29.000000,0.000000,12.000000
75%,1736.750000,0.000000,20.000000,0.000000,3.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,1.000000,0.000000,0.0,35.000000,1.000000,26.000000
max,2570.000000,9.000000,981.000000,2.000000,56.000000,56.000000,2.000000,0.0,1.000000,8.000000,...,7.000000,0.0,0.0,3.000000,169.000000,91.000000,0.0,61.000000,1.000000,208.000000

In [5]:
#Statistical description database
df_non_retired.describe()

,PERSONA,AC_TP,ADM_TP,AI_TP,AP_TP,CO_TP,CU_TP,GC_TP,HD_TP,IN_TP,...,PM_RS,PR_RS,RE_RS,SE_RS,SM_RS,SO_RS,TD_RS,EDAD,GENERO,TIEMPO_EMP
count,594.00000,594.000000,594.000000,594.000000,594.000000,594.0,594.0,594.0,594.000000,594.000000,...,594.0,594.0,594.0,594.0,594.000000,594.0,594.0,594.000000,594.000000,594.000000
mean,1874.87037,0.077441,15.574074,0.052189,2.020202,0.0,0.0,0.0,0.018519,0.265993,...,0.0,0.0,0.0,0.0,7.984848,0.0,0.0,32.478114,0.289562,30.846801
std,665.87710,0.344648,11.441267,0.342055,4.196232,0.0,0.0,0.0,0.168298,1.340744,...,0.0,0.0,0.0,0.0,20.863358,0.0,0.0,9.028923,0.453941,47.775985
min,6.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,-1.000000,0.000000,-2.000000
25%,1401.25000,0.000000,4.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,26.000000,0.000000,2.000000
50%,2058.50000,0.000000,17.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,30.000000,0.000000,19.000000
75%,2434.75000,0.000000,23.000000,0.000000,2.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,6.000000,0.0,0.0,37.000000,1.000000,36.000000
max,2602.00000,3.000000,59.000000,5.000000,46.000000,0.0,0.0,0.0,3.000000,16.000000,...,0.0,0.0,0.0,0.0,224.000000,0.0,0.0,65.000000,1.000000,364.000000

In [49]:
# Save the dataframe as a csv
#df_pca.to_csv('pca_merged_scaled.csv')