In [4]:
# !pip install pandas-profiling==2.7.1

## General packages
import pandas as pd
import numpy as np
import os
import math
import matplotlib as mpl
import matplotlib.pyplot as plt
import streamlit as st

In [4]:
#!pip install streamlit

## Load the data

In [4]:
#Importing the datasets for retired and non retired people
df_retired =  pd.read_csv("../static/data/raw_data/retired_people.csv", index_col = False)
df_non_retired = pd.read_csv("../static/data/raw_data/non_retired_people.csv", index_col = False)
#Statistical description database
df_retired.describe()

,PERSONA,AC_TP,ADM_TP,AI_TP,AP_TP,CO_TP,CU_TP,GC_TP,HD_TP,IN_TP,...,PM_RS,PR_RS,RE_RS,SE_RS,SM_RS,SO_RS,TD_RS,EDAD,GENERO,TIEMPO_EMP
count,993.000000,993.000000,993.000000,993.000000,993.000000,993.000000,993.000000,993.0,993.000000,993.000000,...,993.000000,993.0,993.0,993.000000,993.000000,993.000000,993.0,993.000000,993.000000,993.000000
mean,1299.686808,0.088620,18.050352,0.002014,2.728097,0.762336,0.002014,0.0,0.001007,0.151057,...,0.069486,0.0,0.0,0.008056,8.466264,0.185297,0.0,30.097684,0.278953,23.258812
std,539.889488,0.471145,37.901287,0.044856,5.539683,3.122485,0.063468,0.0,0.031734,0.741444,...,0.389123,0.0,0.0,0.118524,22.667635,3.229137,0.0,8.281314,0.448710,26.829894
min,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,-1.000000,0.000000,1.000000
25%,919.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,25.000000,0.000000,7.000000
50%,1266.000000,0.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,29.000000,0.000000,15.000000
75%,1722.000000,0.000000,22.000000,0.000000,3.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,5.000000,0.000000,0.0,35.000000,1.000000,29.000000
max,2493.000000,9.000000,981.000000,1.000000,60.000000,56.000000,2.000000,0.0,1.000000,8.000000,...,8.000000,0.0,0.0,3.000000,209.000000,91.000000,0.0,61.000000,1.000000,208.000000

In [5]:
#Statistical description database
df_non_retired.describe()

,PERSONA,AC_TP,ADM_TP,AI_TP,AP_TP,CO_TP,CU_TP,GC_TP,HD_TP,IN_TP,...,PM_RS,PR_RS,RE_RS,SE_RS,SM_RS,SO_RS,TD_RS,EDAD,GENERO,TIEMPO_EMP
count,430.000000,430.000000,430.000000,430.000000,430.000000,430.0,430.0,430.0,430.000000,430.000000,...,430.0,430.0,430.0,430.0,430.000000,430.0,430.0,430.000000,430.000000,430.000000
mean,1679.341860,0.116279,19.293023,0.020930,2.832558,0.0,0.0,0.0,0.025581,0.351163,...,0.0,0.0,0.0,0.0,11.688372,0.0,0.0,33.660465,0.334884,41.737209
std,649.989447,0.437694,9.679127,0.197959,4.914169,0.0,0.0,0.0,0.197411,1.721910,...,0.0,0.0,0.0,0.0,25.668055,0.0,0.0,9.406939,0.472500,52.282523
min,6.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,18.000000,0.000000,3.000000
25%,1277.250000,0.000000,13.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,27.000000,0.000000,10.000000
50%,1838.000000,0.000000,19.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,32.000000,0.000000,26.000000
75%,2289.750000,0.000000,24.000000,0.000000,4.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,12.000000,0.0,0.0,38.000000,1.000000,49.000000
max,2464.000000,3.000000,63.000000,3.000000,45.000000,0.0,0.0,0.0,3.000000,18.000000,...,0.0,0.0,0.0,0.0,267.000000,0.0,0.0,65.000000,1.000000,365.000000

In [ ]:
ACCOUNT_NAME="loaddatafunc"

ACCOUNT_KEY="PBRnQ0j9XFfH9w4QPAFssLwRzWNioWQjo0tzxhPtCnmchLYOOBwZMytQk3EXN0AOB5MHIfT/E/VMlZ2yuxpbRw=="